<!-- <div class="container-fluid">
    <div>
        <button mat-button>button</button>
        <button mat-raised-button>raised button</button>
        <button mat-flat-button>flat button</button>
        <button mat-stroked-button>stroked button</button>
    </div>

    <div>
        <button mat-icon-button>icon</button>
        <button mat-fab>fab</button>
        <button mat-mini-fab>mini fab</button>
    </div>

    <div>
        <button color="primary" mat-button>primary</button>
        <button color="accent" mat-button>accent</button>
        <button color="warn" disableRipple mat-button>warn</button>
        <button color="primary" mat-raised-button>primary raised</button>
        <button color="accent" mat-raised-button>accent raised</button>
        <button color="warn" mat-raised-button>warn raised</button>
    </div>

    <div>
        <mat-button-toggle #ref>toggle</mat-button-toggle>
        {{ref.checked}}
    </div>
    <div>
        <mat-button-toggle-group #refToggleGroup = "matButtonToggleGroup">
            <mat-button-toggle value="angular">angular</mat-button-toggle>
            <mat-button-toggle value="react">react</mat-button-toggle>
            <mat-button-toggle value="vue">vue</mat-button-toggle>
        </mat-button-toggle-group>
        {{refToggleGroup.value}}
    </div>

    <div>
        <mat-icon>grade</mat-icon>
        <mat-icon color="accent">receipt</mat-icon>
        <mat-icon color="primary">reorder</mat-icon>
    </div>

    <div>
        <span matBadge="3" matBadgeSize="small" matBadgeHidden="true">notifications</span>
    </div>
    <div>
        <span matBadge="3" matBadgePosition="below before" matBadgeSize="large">notifications</span>
    </div>
    <div>
        <span matBadge="3" matBadgePosition="below after">notifications</span>
    </div>
    <div>
        <span matBadge="3" matBadgePosition="top before" matBadgeColor="accent">notifications</span>
    </div>

    <div>
        <mat-progress-spinner value="33" color="accent"></mat-progress-spinner>
        <mat-spinner color="warn"></mat-spinner>
    </div>

    <div>
        <mat-toolbar color="primary" class="navbar">
            <span>Roma</span>
            <span>Roma</span>
            <span>Roma</span>
        </mat-toolbar>
    </div>

</div>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item>forntend</button>
    <button mat-menu-item>backend</button>
</mat-menu>
<button mat-flat-button [matMenuTriggerFor]="appMenu">menu</button> -->

<!-- <mat-list>
    <mat-list-item>home</mat-list-item>
    <mat-list-item>login</mat-list-item>
    <mat-list-item>register</mat-list-item>
</mat-list>

<mat-nav-list>
    <a mat-list-item>home</a>
    <mat-divider></mat-divider>
    <a mat-list-item>login</a>
    <a mat-list-item>register</a>
</mat-nav-list> -->
<!-- <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                romaaaa
            </mat-panel-title>
            <mat-panel-description>
                agwera
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>content</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                romaaaa
            </mat-panel-title>
            <mat-panel-description>
                agwera
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>content</p>
    </mat-expansion-panel>
</mat-accordion> -->
<!-- 
<mat-card>
    <mat-card-title>card title</mat-card-title>
    <mat-card-content>
        this is card content
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="accent">login</button>
    </mat-card-actions>
</mat-card> -->
<!-- 
<mat-tab-group>
    <mat-tab label="angular">angular content</mat-tab>
    <mat-tab label="react">react content</mat-tab>
    <mat-tab label="vue">vue content</mat-tab>
</mat-tab-group> -->

<!-- <mat-horizontal-stepper linear>
    <mat-step label="ola">
        <p>shipping adress details</p>
    </mat-step>
    <mat-step label="ola" completed="false">
        <p>shipping adress details</p>
    </mat-step>
    <mat-step label="ola">
        <p>shipping adress details</p>
    </mat-step>
</mat-horizontal-stepper> -->

<!-- <mat-vertical-stepper>
    <mat-step label="ola">
        <p>shipping adress details</p>
    </mat-step>
    <mat-step label="ola" completed="false">
        <p>shipping adress details</p>
    </mat-step>
    <mat-step label="ola">
        <p>shipping adress details</p>
    </mat-step>
</mat-vertical-stepper> -->

<!-- <div>
    <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput>
        <mat-hint align="end">min 5 characters</mat-hint>
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLabel="never">
        <mat-label>name</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="fill" color="accent">
        <mat-label>name</mat-label>
        <input matInput>
        <mat-hint align="end">min 5 characters</mat-hint>
    </mat-form-field>
</div>
<div>
    <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>name</mat-label>
        <input matInput>
    </mat-form-field>
</div> -->

<!-- <mat-form-field floatLabel="never">
    <mat-label>topic</mat-label>
    <mat-select>
        <mat-option value="ng">angular</mat-option>
        <mat-option value="re">react</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field floatLabel="always">
    <mat-label>topic</mat-label>
    <mat-select multiple>
        <mat-option value="ng">angular</mat-option>
        <mat-option value="re">react</mat-option>
    </mat-select>
</mat-form-field> -->

<!-- <mat-checkbox>
    ola
</mat-checkbox>
<br>
<mat-checkbox labelPosition="before">
    ola
</mat-checkbox> -->

<!-- <mat-radio-group>
    <mat-radio-button value="angular">angular</mat-radio-button>
    <mat-radio-button value="react">react</mat-radio-button>
</mat-radio-group> -->

<!-- <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field> -->


<!-- <button mat-raised-button color="accent" (click)="onOpenDialog()">open dialog</button> -->

<cdk-virtual-scroll-viewport itemSize="100" style="height:400px; border: solid black" (scrollIndexChange)="getNextBtch($event)">
    <div *ngFor="let number of numbers">
        {{number}}
    </div>
</cdk-virtual-scroll-viewport>


<router-outlet></router-outlet>